<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>注册</title>
  </head>
  <body>
    <h1>注册</h1>
    <hr />

    <form method="post" action="/reg">
      账号: <input type="text" name="username" />
      <br />
      密码: <input type="password" name="password" />
      <br />
      <br />

      <button type="submit">确定</button>
    </form>
  </body>
</html>
